[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://google-coral.github.io/py-repo/"
verify_ssl = true
name = "google"

[packages]
matplotlib = "*"
aiohttp = "*"
beautifulsoup4 = "*"
lxml = "*"
tflite-runtime = "*"
PyYAML = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
pytest-cov = "*"
pyinstaller = "*"
